@use "../global/" as global;

@mixin inner($width: var(--inner-m), $padding: var(--padding-m)) {
  max-width: calc($width + $padding * 2);
  padding: 0 $padding;
  margin-inline: auto;
  position: relative;

  @include global.mq() {
    max-width: var(--inner-s);
    padding: 0 var(--padding-s);
  }
}

.l-inner {
  @include inner();
}
