@use "./variable" as var;
@use "./function" as fn;

// メディアクエリ
@mixin mq($breakpoint: s) {
  @media #{map-get(var.$breakpoints,$breakpoint)} {
    @content;
  }
}

// font周りのmixin
@mixin font($size-pc: 1440, $size-sp: 375, $max-fz, $min-fz, $lh: null, $ls: null, $fw: null) {
  font-size: clamp(fn.rem($min-fz), calc((($max-fz + $min-fz) / 2) / ((($size-pc + $size-sp) / 2)) * 100vw), fn.rem($max-fz));
  @if $lh {
    line-height: fn.lh($lh, $max-fz);
  }
  @if $ls {
    letter-spacing: fn.spacing($ls);
  }
  @if $fw {
    font-weight: $fw;
  }
}

// font-sizeのVW化
@mixin fz_vw($size: 16) {
  font-size: fn.get_vw($size);
}

// ホバー時のmixin
@mixin hover() {
  @media (any-hover: hover) {
    &:any-link:hover,
    &:enabled:hover {
      @content;
    }
  }
  &:focus-visible{
    @content;
  }
}
