// css変数
:root{
  // color
  --color-primary: #27A4EA;
  --color-secondary: #F3D937;
  --color-tertiary: #EF7643;

  --color-text: #333;
  --color-white: #fff;

  // font-family
  --ff-main: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --ff-en: "Jost", sans-serif;

  // layout
  --inner-s: 600px;
  --inner-m: 1000px;
  --inner-l: 1200px;

  // padding
  --padding-s: 20px;
  --padding-m: 40px;

  // header height
  --header-pc: 100px;
  --header-sp: 60px;

  // ease-time
  --ease-time: 0.3s;
  // ease-type
  --ease-type: ease-in-out;

  // breakpoint
  --break-xl: 1600px;
  --break-l: 1280px;
  --break-m: 1080px;
  --break-s: 767px;
  --break-xs: 499px;
}

// breakpoints
$breakpoints: (
  "xl": "(max-width: 1600px",
  "l": "(max-width: 1280px)",
  "m": "(max-width: 1080px)",
  "s": "(max-width: 767px)",
  "xs": "(max-width: 499px)",
);

// z-index
$z-map: (
  header: 100,
  sidebar: 10,
  base: 1,
  under: -1,
);
